*, *:before, *:after {
   box-sizing: border-box;
}

//  Resets
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
}

h1, h2, h3, p {
    margin-top: 0;
}
/* Custom scroll */
           /* width */
           ::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #888; 
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }