body.dl-dark {
  background: #262626;
  color: #fff;
}

.container {
  position: relative;
  display: block;
}

.container.darklight {
  height: 20px;
}

ul.darklight-btn {
  position: absolute;
  // top: 20px;
  // right: 20px;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 30px;
  z-index: 1;
  border: 1.5px solid #000;
  cursor: pointer;
  overflow: hidden;
}

ul.darklight-btn li {
  list-style: none;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;   
}

ul.dl-active {
  border-color: #fff;
}

ul.dl-active li {
  transform: translateY(-30px);
}

ul.darklight-btn li span {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 100%;

  color: #262626;
  background: #fff;
}

ul.darklight-btn li span:nth-child(1){
  background: #262626;
  color: #fff;
}

/*
=============================
switch darklight 
=============================
*/


.switch-container {
  position: relative;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%)
}
input.darklight-switch[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  /* appearance: none; */
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

input.darklight-switch:checked[type="checkbox"] {
  background: #03a9f4;
}
input.darklight-switch[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  /* border-radius:50%; */
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
input.darklight-switch:checked[type="checkbox"]:before {
  left: 40px;
}

/* [special] side-nav-widget 
============================
============================ */
.side_nav_widget_container {
  // background-color: $color-black;
  position: relative;
  grid-area: side_nav_widget;
  width: 100%;
  // margin: 0 auto;
}
.fixed_wrapper{
  position: sticky;
  top: 0;
  overflow: hidden;
}
.fixed_wrapper-child {
overflow-y: scroll;
padding-right: 17px;
}
.side_nav_widget_flex_container {
  // position: fixed;
  width: 100px;
  display: flex;
  background-color: $color_black;
  // height: 100%;
  // overflow-Y: scroll;
  // right: -10px;

}

.side_nav_widget {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  text-align: center;
  // background-color: $color-black;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.side_nav_widget a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.side_nav_widget a:active, .side_nav_widget a:hover, .side_nav_widget a:focus {
  color: $color_orange;
}
.block {
  width: 10px;
  height: 30px;
  border-radius: 4px;
  display: block;
  // background-color: #fff;
  background-color: $color_orange;
  position: absolute;
  left: calc(100% - 17.5px);
}

.block:active, .block:hover, .block:focus {
  background-color: $color_orange;
}

.side_nav_widget img {
  width: 30px;
}

/* scroll indicator */
/* Style the header: fixed position (always stay at the top) */
.side_nav_widget_scroll_indicator {
  margin-right: 10px;
}

/* The progress container (grey background) */
.scroll_progress_container {
  height: 100%;
  width: 5px;
  background-color: $color_black_light;
  // background: #ccc;

}

/* The progress bar (scroll indicator) */
.scroll_progress_bar {
  width: 5px;
  border-radius: 2px;
  background-color: $color_orange;
  // background: #4caf50;
}

//   ========================


// body {
//   width: 100vw;
//   height: 100vh;
//   overflow: auto; }

// body {
//   padding: 2em 2em 2em 17em;
//   font-size: 16px;
//   line-height: 1.6;
//   font-family: 'Roboto', sans-serif; }

.toc {
  // position: fixed;
  // left: 3em;
  // top: 5em;
  // padding: 1em;
  // width: 14em;
  // line-height: 2; 
}
  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .toc ul ul {
    padding-left: 2em; }
  .toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
            transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .toc li.visible > a {
    color: $color_orange;
    -webkit-transform: translate(5px);
        -ms-transform: translate(5px);
            transform: translate(5px); }

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .toc-marker path {
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }

.contents {
  padding: 1em;
  // max-width: 800px;
  font-size: 1.2em;
  font-family: 'Frank Ruhl Libre', sans-serif; }
  .contents img {
    max-width: 100%; }
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%; }
    .contents .code-block code {
      display: block;
      background-color: #f9f9f9;
      padding: 10px; }
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px; }
  .contents h2
h3 {
    padding-top: 1em; }
  .contents h2 {
    margin-top: 1.2em; }

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px; } }

    