/*--------------------------------------------------------------
 Projects - Single work page
--------------------------------------------------------------*/
.single-work-page{

    .project_description{
        padding: 0 15px;
    }

    .dev-tools-container{
        margin: 2% 0 3%;
        .dev-tools-title{
            margin: 0;
            text-transform: uppercase;
        }
        .dev-icon{
            width: 40px;
            height: 40px;
            margin: 2px;
        }
    }
   

    .project-live-btn{
        // border: 2px solid $color__main-color;
        &:hover{
            // background-color: $color__main-color;
            color: white;
        }
    }
}