
section {
    min-height: 600px;
    height: 100vh;
}

/* header */
header { text-align: center; margin-bottom: 20px; }
header .logo {
	margin: 20px auto;
	width: 200px;
	height: 172px;
}
header.fixed { margin-bottom: 120px; }
header.fixed nav { background: inherit; width: 100%; position: fixed; top: 0; z-index: 9999; }

/* main navigation */
.navigation { width: 580px; height: 100px; font-size: 0; margin: 0px auto; }
.navigation li { display: block; float: left; width: 100px; height: 100px; }
.navigation li.separator { width: 20px; height: 100px; background: url(../img/nav-separator.png) center center no-repeat; }
.navigation a { display: block; width: 100px; height: 100px; text-decoration: none; background: url(../img/nav-background.png) 0 100px no-repeat; }
.navigation .image { display: block; width: 100px; height: 60px; background-position: center 10px; background-repeat: repeat-y; }
.navigation .image.about-me { background-image: url(../img/nav-about-me.png); }
.navigation .image.skills { background-image: url(../img/nav-skills.png); }
.navigation .image.projects { background-image: url(../img/nav-projects.png); }
.navigation .image.resume { background-image: url(../img/nav-resume.png); }
.navigation .image.contacts { background-image: url(../img/nav-contacts.png); }
.navigation .title { display: block; width: 100px; height: 21px; margin-top: 10px; font-family: 'Archivo Narrow'; font-size: 14px; line-height: 20px; /*color: #454340;*/ text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0; background: url(../img/nav-title.png) center center no-repeat; }
.navigation .active a, .navigation a:hover { background-position: 0 0; }
.navigation .active .image, .navigation a:hover .image { background-position: center -55px; }
.navigation .active .title, .navigation a:hover .title { margin-top: 0; color: #fff; }


.navigation .active a, .navigation a:hover { background-position: 0 0; }
.navigation .active .image, .navigation a:hover .image { background-position: center -55px; }
.navigation .active .title, .navigation a:hover .title { margin-top: 0; color: #fff; }

header:first-child {
    display: none;
}
@media (min-width: 700px) {
    
    header:first-child {
        display: block;
    }
    /* #navbar {
        display: block;
    } */
    header.background-navy {
        display: none;
    }
    section.hidden-section {
        display: none;
    }
}