/*--------------------------------------------------------------
 footer
--------------------------------------------------------------*/

// footer {
//     background-color: black;
//     color: white;
//     padding: 30px;
// }

// footer a {
//     color: white;
// }

// footer a:hover,
// footer a:active,
// footer a:focus {
//     color: white;
// }



//insert
.colophon {
    position: absolute;
    bottom: 0;
    background-color: #0F92B9;
    width: 100%;
    display: block;
}
.colophon p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

footer {
    // background: #f6f5fa;
    background: -moz-linear-gradient(top, #f6f5fa 0%, #dadbed 100%);
    background: -webkit-linear-gradient(top, #f6f5fa 0%, #dadbed 100%);
    background: linear-gradient(to bottom, #f6f5fa 0%, #dadbed 100%);
    // background: linear-gradient(to bottom, rgb(146, 17, 17) 0%, #A91E1E 100%);
    position: fixed;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.19);
    z-index: 99991;
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.footerfloat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    position: absolute;
    top: -20px;
    padding-left: 5%;
    padding-right: 5%;
}
.socialcont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.sociallink {
    width: 25px;
    height: 25px;
    display: flex;
    // background: #4672d1;

    // background: -moz-linear-gradient(top, #4672d1 0%, #335ba3 100%);
    // background: -webkit-linear-gradient(top, #4672d1 0%, #335ba3 100%);
    // background: linear-gradient(to bottom, #4672d1 0%, #335ba3 100%);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    // box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.19);
    
    position: relative;
}
.socialcont .sociallink:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, #4672d1 0%, #335ba3 100%);
    background: -webkit-linear-gradient(top, #4672d1 0%, #335ba3 100%);
    background: linear-gradient(to bottom, #4672d1 0%, #335ba3 100%);    
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.19);
    z-index: -1;
    transform: rotate(60deg);
}
.socialcont .sociallink:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, #4672d1 0%, #335ba3 100%);
    background: -webkit-linear-gradient(top, #4672d1 0%, #335ba3 100%);
    background: linear-gradient(to bottom, #4672d1 0%, #335ba3 100%); 
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.19);   
    z-index: -1;
    transform: rotate(-60deg);
}
.socialcont a {
    font-size: 15px;
    color: white;
    line-height: 25px;
    margin: auto;
}

@media screen and (min-width: 600px) {
    .footerfloat {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 1050px) {
    .sociallink {
        width: 35px;
        height: 35px;
    }
}
// .projmenuCont {
//     position: relative;
// }
// .projmenu {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: #e91e63;
//         transform: scale(0.95);
//         overflow: hidden;
//         border-radius: 10px;
//     z-index: 1;
//     cursor: pointer;
// }

.footernavcont ul.projfolder {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.projmenu {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
ul.projfolder li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        width: 50px;
    list-style: none;
    // background: #fff;
    transition: .5s;
    // overflow: hidden;
    border-radius: 10px;
        transform:scale(0);
}
    ul.projfolder.active li {
        transform: scale(0.95);
    }
ul.projfolder li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #262626;
    transition: .5s;
        /* transform: rotate(-45deg); */
}
ul.projfolder li:nth-child(1){
    top: -100%;
    left: -200%;
    transition-delay: 0s;
}
ul.projfolder li:nth-child(2){
    top: -100%;
    left: -0%;
    transition-delay: 0.2s;
}
ul.projfolder li:nth-child(3){
    top: -100%;
    left: 200%;
    transition-delay: 0.4s;
}